* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}

article {
    display: block;
    position: absolute;
    top: 120px;
    top: calc(50vh - 300px);
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 790px;
    height: 610px;
    border-radius: 6px;
    background-color: #734121;
    background-image: linear-gradient( 135deg, #85582f, #a5784e, #bb8e64 );
    box-shadow: 
    2px 0 1.5px -1.5px #41291a inset, 
    3.5px 0 2.5px -2.5px #5c3e23 inset, 
    4.5px 0 2.5px -2.5px #5f4125 inset, 
    5.5px 0 2.5px -2.5px #6d4a29 inset, 
    6.5px 0 2.5px -2.5px #85582f inset, 
    -3px 0 2px -2px #efd6b7 inset, 
    -3.5px 0 2px -2px #d1b190 inset, 
    -4.5px 0 2px -2px #e6bb84 inset, 
    -5.5px 0 2px -2px #e1a775 inset, 
    0 2px 2px -2px #e3cab0 inset, 
    0 4px 2px -2px #e0bba6 inset, 
    0 5px 2px -2px #9f7f5d inset, 
    0 -2px 1.5px -1.5px #ddb599 inset, 
    0 -4.5px 1.5px -1.5px #f6d0a8 inset, 
    0 -5px 1.5px -1.5px #fff2db inset, 
    -30px -30px 10px rgb(114 96 86 / 5%), 
    -25px -25px 10px rgb(114 101 86 / 10%), 
    -20px -20px 10px rgb(114 99 86 / 8%), 
    -10px -10px 10px rgb(114 99 86 / 10%), 
    -5px -5px 10px rgb(114 103 86 / 13%), 
    -40px -60px 30px rgb(114 100 86 / 25%), 
    -2px 0 5px rgb(142 131 124 / 50%), 
    0 0 10px rgb(142 133 124 / 10%), 
    0 0 20px rgb(142 132 124 / 5%), 
    0 0 50px rgb(255 251 245 / 50%);
}

article img {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode:multiply;
    opacity: .5;
    background-image: url('../img/woodTexture.jpeg');

    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    border-radius: 6px;
  }

section {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 3em;
    background-color: #303030;
    background: linear-gradient( #303030,#252525);
    border-radius: 1px;
    height: calc(100% - 6em);
    width: calc(100% - 6em);
    box-shadow:  0 -2px 2px -2px #000000 inset, 0px 0 1.25px 1px #a16c42 inset, 0 0 1px 1.5px rgb(0 0 0 / 50%) inset, 0 0 2.5px 3px rgb(0 0 0 / 20%) inset, 0 0 4px 5px rgb(82 58 56 / 10%) inset, -1px 0 1px #915943f2, 0 0 5px 3px #8b5e3a;
}

form {
    width: calc(50% - 4em);
    height: calc(50% - 4em);
    /* background-color: blue; */
    padding: 2em;
}

div:nth-of-type(1) {
    height: 50%;
    width: 50%;
    /* background: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
    background: black;
    height: 10em;
    width: 80%;

    display: flex;
    justify-content:space-around;
    align-items: center;

    box-shadow: 
    0 -2px 2px -2px rgb(41 38 38) inset, 
    0px 0 1.25px 1px #292625 inset, 
    0 0 1px 1.5px rgb(48 42 41 / 50%) inset, 
    0 0 2.5px 3px rgb(52 42 41 / 20%) inset, 
    0 0 4px 5px rgb(45 42 42 / 10%) inset, 
    -1px 0 1px #292929, 0 0 5px 3px #252525;
}

li {
    transform-origin: 50% 50%;
	height: 6px;
	width: 6px;
	border-radius: 50%;
	background-color: #941414;
    animation: vertical-movement 2.5s infinite ease-in-out;
    animation-play-state: paused;
    opacity: 0;
    transition: all .5s ease-in-out;
    animation-delay: var(--index);
    box-shadow: 0px 0px 10px 2px #941414;
}



@keyframes vertical-movement {
	0%,
	100% {
		transform: translateY(0%);
	}
	50% {
		transform: translateY(30px);
	}
}

ul input {
    position: absolute;
    top: 0;
    visibility: hidden;
}

fieldset:first-of-type {
    position: relative;
    display: flex;
    background-color: #000;
    border-radius: 3px;
    padding: 1px;
    width: fit-content;
    border: none;
    min-inline-size: none;
}

fieldset:first-of-type label {
    background-color: grey;
    padding: .5em 1em;
    cursor: pointer;
    background-image: linear-gradient(to top, #242424 0%, #303030 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1px;
    transition: 0.2s;
    box-shadow: 
        inset 0 20px 4px -21px rgb(255 255 255 / 40%), 
        0 9px 9px 0 rgb(0 0 0 / 30%);
    color: #fff;
}

fieldset:first-of-type label:active {
    background-image: linear-gradient(to top, #151515 0%, #1d1d1d 100%);
    box-shadow: inset 0 16px 14px -21px transparent, 
    0 0px 13px 0 rgb(0 0 0 / 30%), inset 0 0 7px 2px rgb(0 0 0 / 40%);
}

fieldset:first-of-type label:active p {
    transform: scale(.98);
    transition: all .2s;
}

input[id=on-off]:checked ~ li{
    opacity: 1;
}

input[id=start]:checked ~ li {
    animation-play-state: running;
    animation-delay: var(--index);
}
form:has([id=size1]:checked) + div li {
    height: 6px;
    width: 6px;
}

form:has([id=size2]:checked) + div li {
    height: 10px;
    width: 10px;
}


form:has([id=size3]:checked) + div li {
    height: 18px;
    width: 18px;
}

form:has(input[type="text"][value$="a"]) ~  div li {
    background-color: yellow;
    box-shadow: 0px 0px 10px 2px yellow;
}

form:has(input[type="text"][value$="s"]) ~  div li {
    background-color: blue;
    box-shadow: 0px 0px 10px 2px blue;
}

form:has(input[type="text"][value$="d"]) ~  div li {
    background-color: rgb(255, 123, 0);
    box-shadow: 0px 0px 10px 2px rgb(255, 123, 0);
}

form:has(input[type="text"][value$="f"]) ~  div li {
    background-color: rgb(0, 255, 64);
    box-shadow: 0px 0px 10px 2px rgb(0, 255, 64);
}

form:has(input[type="text"][value$="g"]) ~  div li {
    background-color: rgb(195, 0, 255);
    box-shadow: 0px 0px 10px 2px rgb(195, 0, 255);
}

form:has(input[type="text"][value$="h"]) ~  div li {
    background-color: rgb(255, 0, 119);
    box-shadow: 0px 0px 10px 2px rgb(255, 0, 119);
}

form:has(input[type="text"][value$="j"]) ~  div li {
    background-color: rgb(0, 238, 255);
    box-shadow: 0px 0px 10px 2px rgb(0, 238, 255);
}

form:has(input[type="text"][value$="k"]) ~  div li {
    background-color: rgb(33, 134, 95);
    box-shadow: 0px 0px 10px 2px rgb(33, 134, 95);
}

form:has(input[type="text"][value$="l"]) ~  div li {
    background-color: rgb(85, 44, 44);
    box-shadow: 0px 0px 10px 2px rgb(85, 44, 44);
}


input[type="range"] {
    margin-top: 6em;
    transform: rotate(-90deg);
}

form:has(input[type="range"][value="10"]) ~  div li {
    animation-duration: .22s;
}

form:has(input[type="range"][value="9"]) ~  div li {
    animation-duration: .33s;
}

form:has(input[type="range"][value="8"]) ~  div li {
    animation-duration: .42s;
}

form:has(input[type="range"][value="7"]) ~  div li {
    animation-duration: .6s;
}

form:has(input[type="range"][value="6"]) ~  div li {
    animation-duration: 1.3s;
}

form:has(input[type="range"][value="5"]) ~  div li {
    animation-duration: 1.8s;
}

form:has(input[type="range"][value="4"]) ~  div li {
    animation-duration: 2s;
}

form:has(input[type="range"][value="3"]) ~  div li {
    animation-duration: 4s;
}

form:has(input[type="range"][value="2"]) ~  div li {
    animation-duration: 5s;
}

form:has(input[type="range"][value="1"]) ~  div li {
    animation-duration: 7s;
}

form:has(input[type="range"][value="0"]) ~  div li {
    animation-duration: 10s;
}

div:nth-of-type(2) {
    width: 100%;
    height: 50%;
    /* background: yellow; */
}